{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="section nobg topmargin-lg nobottommargin">
      <div class="container clearfix">

	<div class="col_half nobottommargin center">

	  <img src="{% static "media/" %}{{setting.bidniImg}}" alt="Image" data-animate="fadeInLeft" style="border-radius:40px;">

	</div>

	<div class="col_half nobottommargin col_last">

	  <div class="heading-block" style="padding-top: 40px;">

	    <h2 style="color:black;">{{setting.bidniTitle}}</h2>
	    <span>{{setting.bidniMiniDesc}}</span>

	  </div>

	  <p>{{setting.bidniDesc}}</p>

	  <a href="{% url 'contactUs' %}" class="button button-border button-large button-rounded noleftmargin"
	       style="border-radius: 40px;">Холбоо барих</a>

	</div>

      </div>
    </div>
  </div>
  <div class="topmargin-lg">
    <div class="container clearfix">

      <div class="col_one_third">

	<div class="heading-block fancy-title nobottomborder title-bottom-border">
	  <h4>Алсын <span>хараа</span>.</h4>
	</div>

	<p>{{setting.alsinHaraa}}</p>

      </div>

      <div class="col_one_third">

	<div class="heading-block fancy-title nobottomborder title-bottom-border">
	  <h4>Эрхэм <span>зорилго</span>.</h4>
	</div>

	<p>{{setting.erhemZorilgo}}</p>

      </div>

      <div class="col_one_third col_last">

	<div class="heading-block fancy-title nobottomborder title-bottom-border">
	  <h4>Мэндчилгээ</h4>
	</div>

	<p>{{setting.mendchilgee}}</p>

      </div>

    </div>
  </div>

  <div class="row clearfix topmargin-lg">

    {% for i in teachers %}
    <div class="col-lg-6 bottommargin">
      <div class="team team-list clearfix">
	<div class="team-image">
	  <img src="{% static "media/" %}{{i.profileImg}}" alt="">
	</div>
	<div class="team-desc">
	  <div class="team-title"><h4>{{i.name}}</h4><span>{{i.roleDesc}}</span></div>
	  <div class="team-content">
	    <p>{{i.desc}}</p>
	  </div>
	  <a href="{{i.gb}}" class="social-icon si-rounded si-small si-light si-facebook">
	    <i class="icon-facebook"></i>
	    <i class="icon-facebook"></i>
	  </a>
	  <a href="{{i.mail}}" class="social-icon si-rounded si-small si-light si-gplus">
	    <i class="icon-gplus"></i>
	    <i class="icon-gplus"></i>
	  </a>
	</div>
      </div>
    </div>
    {% endfor %}

    <div id="oc-clients-full" class="owl-carousel image-carousel carousel-widget" data-margin="30" data-nav="false" data-loop="true" data-autoplay="5000" data-pagi="false" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5" data-items-xl="6">

      {% for i in setting.hamtragchBaiguulgaZurga.all %}
      <a href="#"><img src="{% static "media/" %}{{i.img}}" alt="{{i.ner}}"></a>
      {% endfor %}

    </div>
  </div>

</div>
{% endblock %}
