{% extends 'base.html' %}
{% load static %}

{% block content %}
   <!-- Content
     ============================================= -->
     <section id="content">

       <div class="content-wrap">

	 <div id="oc-images"
	       class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget"
	       data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-sm="1"
											  data-items-xl="2">

	   {% for n in news %}
	   <div class="oc-item">
	     <a href="//"><img src="{% static "media/" %}{{n.newsImg}}" alt="Image 2" style="height: 401px;"></a>
	     <div class="overlay">
	       <div class="text-overlay">
		 <span class="badge badge-danger">Онцгой</span>
		 <div class="text-overlay-title">
		   <h2>{{n.title}}</h2>
		 </div>

		 <a href="{% url "newsSingle" n.slug %}" class="button button-reveal button-border button-light button-small button-rounded uppercase tright noleftmargin topmargin-sm"><span>Унших</span><i class="icon-angle-right"></i></a>
	       </div>
	     </div>
	   </div>
	   {% endfor %}

	 </div>


	 <div class="clear"></div>

	 <div class="container clearfix">
	   <div class="fancy-title title-border">
	     {% with getTopCategoryName=topNews.0.categories.all.0 %}
	     <h3>{{ getTopCategoryName.name  }}</h3>
	     {% endwith %}
	   </div>

	   <div class="row bottommargin-sm clearfix">

	     <div class="col-lg-8">

	       <div class="ipost clearfix">
		 <div class="entry-image">
		   <a href="//"><img class="image_fade" src="{% static 'media/' %}{{ topNews.0.newsImg }}" alt="Image"></a>
		 </div>
		 <div class="entry-title">
		   <h3><a href="{% url "newsSingle" topNews.0.slug %}">{{ topNews.0.title }}</a></h3>
		 </div>
		 <ul class="entry-meta clearfix">
		   <li><i class="icon-calendar3"></i>{{ topNews.0.created }}</li>
		   <li><a href="//"><i class="icon-comments"></i>{{topNews.1.comments.all.count}}
		       Сэтгэгдэл</a></li>

		 </ul>
	       </div>

	     </div>

	     <div class="col-lg-4">

	       <div class="spost clearfix">

		 <div class="entry-c">
		   <iframe id="forecast_embed" type="text/html" frameborder="0" height="225"
								  width="385"
	  src="http://tsag-agaar.gov.mn/embed/?name=292&color=ef6e25&color2=cc530e&color3=ffffff&color4=ffffff&type=horizontal&tdegree=c&width=370">
		   </iframe> </div>

	       </div>
	       <div class="spost clearfix">

		 <div class="entry-c">
		   <iframe
       style="width:300px;font-size:11px;height:280px;border: none;overflow:hidden;margin:0;"
       src="//monxansh.appspot.com/xansh.html?currency=USD|EUR|JPY|GBP|RUB|CNY|KRW&conv_tool=1"></iframe>
		 </div>
	       </div>


	     </div>

	   </div>

	   <div class="fancy-title title-border">
	     {% with getTopCategoryName=topNews.1.categories.all.0 %}
	     <h3>{{ getTopCategoryName.name  }}</h3>
	     {% endwith %}
	   </div>

	   <div class="row bottommargin-sm clearfix">

	     <div class="col-lg-8">

	       <div class="ipost clearfix">
		 <div class="entry-image">
		   <a href="//"><img class="image_fade" src="{% static 'media/' %}{{ topNews.1.newsImg }}" alt="Image"
								style="height:429px;"></a>
		 </div>
		 <div class="entry-title">
		   <h3><a href="{% url "newsSingle" topNews.1.slug %}">{{topNews.1.title}}</a></h3>
		 </div>
		 <ul class="entry-meta clearfix">
		   <li><i class="icon-calendar3"></i>{{topNews.1.created}}</li>
		   <li><a href="//"><i class="icon-comments"></i>{{topNews.1.comments.all.count}}
		       Сэтгэгдэл</a></li>

		 </ul>
	       </div>

	     </div>

	     <!-- Sidebar
	============================================= -->
	<div class="sidebar nobottommargin col_last clearfix col-lg-4">
	  <div class="sidebar-widgets-wrap">

	    <div class="widget widget-facebook-feed clearfix">

	      <h4>Бидэнтэй нэгдэхийг хүсвэл</h4>
	      <ul class="iconlist facebook-feed" data-username="envato" data-count="2">
		<li></li>
	      </ul>

	      <a href="https://www.facebook.com/%D0%9C%D0%BE%D0%BD%D0%B3%D0%BE%D0%BB%D1%8B%D0%BD-%D0%B1%D0%B0%D0%B3%D1%88-%D0%BD%D0%B0%D1%80%D1%8B%D0%BD-%D2%AF%D0%B9%D0%BB%D0%B4%D0%B2%D1%8D%D1%80%D1%87%D0%BD%D0%B8%D0%B9-%D1%8D%D0%B2%D0%BB%D1%8D%D0%BB%D0%B8%D0%B9%D0%BD-%D1%85%D0%BE%D0%BB%D0%B1%D0%BE%D0%BE-213658032728499/"
	  target="_blank" class="btn btn-secondary btn-sm fright">Facebook нэгдээрэй</a>

	    </div>


	    <div class="widget clearfix">

	      <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

		<ul class="tab-nav clearfix">
		  <li><a href="#tabs-1">Онцлох</a></li>
		  <li><a href="#tabs-2">Сүүлийн үеийн</a></li>
		</ul>

		<div class="tab-container">

		  <div class="tab-content clearfix" id="tabs-1">
		    <!--Онцлох medeenii tab-->
		    <div id="popular-post-list-sidebar">

		    {% for i in news %}
		      <div class="spost clearfix">
			<div class="entry-image">
			  <a href="#" class="nobg"><img class="rounded-circle"
				   src="{% static 'media/' %}{{i.newsImg}}" alt=""></a>
			</div>
			<div class="entry-c">
			  <div class="entry-title">
			    <h4><a href="{% url "newsSingle" i.slug %}">{{i.title}}</a>
			    </h4>
			  </div>
			  <ul class="entry-meta">
			    <li><i class="icon-comments-alt"></i> {{i.comments.all.count}}
			      Сэтгэгдэл(Онцлох)</li>
			  </ul>
			</div>
		      </div>
		    {% endfor %}

		    </div>
		  </div>
		  <div class="tab-content clearfix" id="tabs-2">
		    <!--Сүүлийн үеийн medeenii tab-->
		    <div id="recent-post-list-sidebar">

		    {% for i in latestNews %}
		      <div class="spost clearfix">
			<div class="entry-image">
			  <a href="//" class="nobg"><img class="rounded-circle"
				   src="{% static 'media/' %}{{i.newsImg}}" alt=""></a>
			</div>
			<div class="entry-c">
			  <div class="entry-title">
			    <h4><a href="{% url "newsSingle" i.slug %}">{{i.title}}</a></h4>
			  </div>
			  <ul class="entry-meta">
			    <li>{{i.created}}</li>
			  </ul>
			</div>
		      </div>
		    {% endfor %}

		    </div>
		  </div>

		</div>

	      </div>

	    </div>

	  </div>

	</div><!-- .sidebar end -->

	   </div>

	   <div class="row clearfix">
	     <div class="section nobg topmargin-sm nobottommargin">
	       <div class="container clearfix">

		 <div class="col_half nobottommargin center">

		   <img src="{% static 'images/aboutus.jpg' %}" alt="Image" data-animate="fadeInLeft"
					       style="border-radius:40px;">

		 </div>

		 <div class="col_half nobottommargin col_last">

		   <div class="heading-block">

		     <h2 style="color:black;">Бидний тухай</h2>
		     <span>Монголын багш нарын үйлдвэрчний эвлэлийн Холбоо</span>

		   </div>

		   <p>Монголын багш нарын үйлдвэрчний эвлэлийн холбоо нь гишүүдийнхээ хөдөлмөрлөх эрх,
		     түүнтэй холбогдсон хууль ёсны ашиг сонирхол, боловсролын салбарын багш, ажилтны
		     оюун сэтгэлгээний эрх чөлөөг хамтран хамгаалах зорилгоор энэхүү дүрмийн хүрээнд
		     сайн дурын үндсэн дээр эвлэлдэн нэгдсэн Монголын бүх шатны сургууль, боловсролын
		     байгууллага, СӨББ, МСҮТ-ийн багш, ажилтнуудын эв санааны нэгдэл буюу байнгын үйл
		     ажиллагаа бүхий чөлөөт ардчилсан нэгдэл мөн.</p>

		   <a href="#" class="button button-border button-large button-rounded noleftmargin"
		 style="border-radius: 40px;">Үргэлжлүүлэх</a>

		 </div>

	       </div>
	     </div>
	   </div>

	   <!-- About us end -->
	 </div>

     </section><!-- #content end -->
       </div>
{% endblock %}
