{% extends "base.html" %}
{% load static %}

{% block content %}

		<section id="page-title">

			<div class="container clearfix">
				<h1>Хууль эрх зүй</h1>
				<span>Багшийн тухай хууль</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url "home" %}">Нүүр</a></li>
					<li class="breadcrumb-item"><a href="{% url "laws" %}">Хууль</a></li>
					<li class="breadcrumb-item active" aria-current="page">Маягт</li>
				</ol>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

						<div class="row">
							{% for i in laws %}
							<div class="col-12 col-sm-6 col-md-4 mb-5">
								<a href="{% url "lawsSingle" i.slug %}" target="_blank">
									<img src="{% static 'images/forms/132.png'%}" alt="Feedback Form" class="img-thumbnail">
									<h4 class="d-block mt-3 mb-0 center">{{i.title}}</h4>
								</a>
							</div>
							{% endfor %}

						</div>

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget widget_links clearfix">

								<h4>Хуулиуд</h4>
								<ul>
									<li><a href=" animations.html "><div>Монгол улсын хууль</div></a></li>
								</ul>

							</div>

							<div class="widget widget-twitter-feed clearfix">

								<h4>Facebook</h4>
								<ul class="iconlist twitter-feed" data-username="envato" data-count="2">
									<li></li>
								</ul>

								<a href="https://www.facebook.com/%D0%9C%D0%BE%D0%BD%D0%B3%D0%BE%D0%BB%D1%8B%D0%BD-%D0%B1%D0%B0%D0%B3%D1%88-%D0%BD%D0%B0%D1%80%D1%8B%D0%BD-%D2%AF%D0%B9%D0%BB%D0%B4%D0%B2%D1%8D%D1%80%D1%87%D0%BD%D0%B8%D0%B9-%D1%8D%D0%B2%D0%BB%D1%8D%D0%BB%D0%B8%D0%B9%D0%BD-%D1%85%D0%BE%D0%BB%D0%B1%D0%BE%D0%BE-213658032728499/" class="btn btn-secondary btn-sm fright">Facebook-д нэгдэх</a>

							</div>

						</div>
					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->



{% endblock %}