 {% extends "base.html" %}
{% load static %}

{% block content %}

		<section id="content">
			<!-- <div style="margin-left: 35%;padding-top: 2%;">

						<ul class="portfolio-filter nobottommargin clearfix" data-container="#portfolio">

							<li><a href="#" data-filter=".pf-icons">Icons</a></li>
							<li><a href="#" data-filter=".pf-illustrations">Illustrations</a></li>
							<li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
							<li><a href="#" data-filter=".pf-media">Media</a></li>
							<li><a href="#" data-filter=".pf-graphics">Graphics</a></li>

						</ul>

					</div> -->


			<div class="content-wrap">


				<div class="container clearfix">



					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="tabs nobottommargin clearfix" id="sidebar-tabs">

								<ul class="tab-nav clearfix">
									<li><a href="#tabs-1">Онцлох</a></li>
									<li><a href="#tabs-2">Сүүлийн үеийн</a></li>
								</ul>

								<div class="tab-container">

									<div class="tab-content clearfix" id="tabs-1">
										<!--Онцлох medeenii tab-->
										<div id="popular-post-list-sidebar">

											{% for i in featuredNews %}
											<div class="spost clearfix">
												<div class="entry-image">
													<a href="//" class="nobg"><img class="rounded-circle"
															src="{% static 'media/' %}{{i.newsImg}}" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="{% url "newsSingle" i.slug %}">{{i.title}}</a></h4>
													</div>
													<ul class="entry-meta">
														<li><i class="icon-comments-alt"></i> {{i.comments.all.count}} Сэтгэгдэл(Онцлох)
														</li>
													</ul>
												</div>
											</div>
											{% endfor %}


										</div>
									</div>
									<div class="tab-content clearfix" id="tabs-2">
										<!--Сүүлийн үеийн medeenii tab-->
										<div id="recent-post-list-sidebar">

											{% for i in latestNews %}
											<div class="spost clearfix">
												<div class="entry-image">
													<a href="//" class="nobg"><img class="rounded-circle"
															src="{% static 'media/' %}{{i.newsImg}}" alt=""></a>
												</div>
												<div class="entry-c">
													<div class="entry-title">
														<h4><a href="{% url "newsSingle" i.slug %}">{{i.title}}(Сүүлийн үеийн)</a>
														</h4>
													</div>
													<ul class="entry-meta">
														<li>{{i.created}}(Сүүлийн үеийн)</li>
													</ul>
												</div>
											</div>
											{% endfor %}



										</div>
									</div>

								</div>

							</div>




							<div class="widget clearfix">

								<h4>Сүүлд уншсан мэдээнүүд</h4>
								<div id="post-list-footer">

									{% for i in latestNews %}
									<div class="spost clearfix">
										<div class="entry-image">
											<a href="//" class="nobg"><img src="{% static 'media/' %}{{i.newsImg}}" alt=""></a>
										</div>
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="{% url "newsSingle" i.slug %}">{{i.title}}(СҮҮЛД УНШСАН МЭДЭЭНҮҮД
														recent)</a></h4>
											</div>
											<ul class="entry-meta">
												<li>{{i.created}}</li>
											</ul>
										</div>
									</div>
									{% endfor %}

								</div>

							</div>

							<div class="widget quick-contact-widget form-widget clearfix">

								<h4>Xолбогдох</h4>
								<!--mail bichdeg panel-->
								<div class="form-result"></div>

								<form action="{% url "news" %}"
									method="POST" class="quick-contact-form nobottommargin">
									{% csrf_token %}
									<div class="form-process"></div>

									<input type="text" class="required sm-form-control input-block-level"
										id="quick-contact-form-name" name="fname" value=""
										placeholder="Нэр Овог" />
									<input type="text" class="required sm-form-control email input-block-level"
										id="quick-contact-form-email" name="email" value=""
										placeholder="Цахим хаяг" />

									<input type="number" placeholder="Утасны Дугаар" class="required sm-form-control input-block-level" name="phone" value="">

									<textarea class="required sm-form-control input-block-level short-textarea"
										id="quick-contact-form-message" name="content" rows="4"
										cols="30"></textarea>
									<input type="text" class="hidden" id="quick-contact-form-botcheck"
										name="quick-contact-form-botcheck" value="" />

									<button type="submit" class="button button-small button-3d nomargin">Илгээх</button>
								</form>

							</div>

						</div>
					</div><!-- .sidebar end -->

					<!-- Post Content
					============================================= -->
					<div class="postcontent bothsidebar nobottommargin clearfix">

						<!-- Posts
						============================================= -->
						<div id="posts" class="small-thumbs">
							{% for n in news %}
							<div class="entry clearfix">
								<h5>{{n.categories.all|join:" / "}}</h5>
								<div class="entry-image">
									<a href="{% url "newsSingle" n.slug %}"><img class=""
											src="{% static 'media/' %}{{n.newsImg}}"></a>
								</div>
								<div class="entry-c">
									<div class="entry-title">
										<h2><a href="{% url "newsSingle" n.slug %}">{{n.title}}</a></h2>
									</div>
									<ul class="entry-meta clearfix">
										<li><i class="icon-calendar3"></i>{{n.created}}</li>
										<li><a href="//"><i class="icon-user"></i>{{n.author.name}}</a></li>
										<li><a href="{% url "newsSingle" n.slug %}"><i class="icon-comments"></i> {{n.comments.all.count}}</a></li>
										<!--heden hun comment bichsen too bolon onclick hiihed blogSingle iin comment heseg ruu usrene-->
									</ul>
									<div class="entry-content">
										<p>{{n.body|truncatewords:15}}</p>
										<a href="{% url "newsSingle" n.slug %}" class="more-link">Цааш унших</a>
									</div>
								</div>
							</div>
							{% endfor %}


						</div><!-- #posts end -->
						<!-- .pager end -->

					</div><!-- .postcontent end -->

					<!-- Sidebar
					============================================= -->
					<div class="sidebar nobottommargin col_last clearfix">
						<div class="sidebar-widgets-wrap">

							<div class="widget widget-facebook-feed clearfix">

								<h4>Бидэнтэй нэгдэхийг хүсвэл</h4>
								<ul class="iconlist facebook-feed" data-username="envato" data-count="2">
									<li></li>
								</ul>

								<a href="https://www.facebook.com/%D0%9C%D0%BE%D0%BD%D0%B3%D0%BE%D0%BB%D1%8B%D0%BD-%D0%B1%D0%B0%D0%B3%D1%88-%D0%BD%D0%B0%D1%80%D1%8B%D0%BD-%D2%AF%D0%B9%D0%BB%D0%B4%D0%B2%D1%8D%D1%80%D1%87%D0%BD%D0%B8%D0%B9-%D1%8D%D0%B2%D0%BB%D1%8D%D0%BB%D0%B8%D0%B9%D0%BD-%D1%85%D0%BE%D0%BB%D0%B1%D0%BE%D0%BE-213658032728499/"
									target="_blank" class="btn btn-secondary btn-sm fright">Facebook нэгдээрэй</a>

							</div>


							<div class="widget clearfix">

								<div class="marg">
									<div class="col-lg-4">
										<div class="white-section">
											<label>Сонголтоор хайх:</label>
											<div class="dropdown bootstrap-select show-tick dropup">
												<select class="selectpicker" multiple="" data-live-search="true"
													tabindex="-98">
													{% for i in categories %}
													<option>{{i.name}}</option>
													{% endfor %}
												</select>
												<button type="button" class="btn dropdown-toggle btn-light bs-placeholder"
													data-toggle="dropdown" role="combobox" aria-owns="bs-select-3"
													aria-haspopup="listbox" aria-expanded="false" title="Nothing selected">
													<div class="filter-option">
														<div class="filter-option-inner">
															<div class="filter-option-inner-inner">--Сонголт--</div>
														</div>
													</div>
												</button>
												<div class="dropdown-menu"
													style="max-height: 192.517px; overflow: hidden; min-height: 46px;">
													<div class="bs-searchbox">
														<input type="search" class="form-control" autocomplete="off"
															role="combobox" aria-label="Search" aria-controls="bs-select-3"
															aria-autocomplete="list">
													</div>
													<div class="inner show" role="listbox" id="bs-select-3" tabindex="-1"
														aria-multiselectable="true"
														style="max-height: 128.517px; overflow-y: auto; min-height: 0px;">
														<ul class="dropdown-menu inner show" role="presentation"
															style="margin-top: 0px; margin-bottom: 0px;">
													
															{% for i in categories %}
															<li class="">
																<a role="option" class="dropdown-item" id="bs-select-3-0"
																	tabindex="0" aria-selected="false" aria-setsize="3"
																	aria-posinset="1">
																	<span class=" bs-ok-default check-mark"></span>
																	<span class="text">{{i.name}}</span>
																</a>
															</li>
															{% endfor %}

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>



							</div>

						</div>

					</div><!-- .sidebar end -->

				</div>

			</div>

		</section><!-- #content end -->

{% endblock %}